.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #336699;
  color: #292F33;
}

main {
  height: 100vh;
  border-top-left-radius: 30px;
  background: white;
  border: 1px solid transparent;
  border-top-right-radius: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  main {
    height: 100%;
  }

  body{
    background: #fff;
  }

  #main-header{
    background: #336699;
  }
}