#mainFooter{
	background: #292F33;
	color: #fff;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 100px;
	padding: 20px 0px;
}

#mainFooter ul{
	list-style: none;
	margin: 0;
}

#mainFooter ul li {
	padding: 5px 12px;
	font-size: 10px;
	cursor: pointer;
	transition: 0.5s all;
}

#mainFooter ul li:hover{
	color: #30C5FF;
	font-size: 11px;
}

#mainFooter .rights{
	font-size: 10px;
	text-align: center;
	background: #292F33;
	padding: 5px;
}

