.MusicItem {
    padding: 15px 10px;
    border: 1px solid #494949;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    transition: all 0.2s;
}

.MusicItem:hover{
	background: #f1f1f1;
	font-weight: bold;
    color: #30C5FF;
    position: relative;
    height: 56px;
}

.MusicItem span:hover{
    position: absolute;
    animation: scrollTitle 20s infinite;
}

[data-curr="true"]{
	font-weight: bold;
	color: #47d664;
}

@keyframes scrollTitle {
	0%   {left: 0;}
    25% {left: -600px;}
    50%{left:300px;}
    100%{left: 0px;}
}