.MusicList {
    box-shadow: 5px 2px 5px #999;
}

.MusicList .empty-list{
	min-width: 300px;
}

.list{
	height: 388px;
    overflow: auto;
    max-width: 300px;
    border: 1px solid #292F33;
    background: #f2f2f2;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.list{
    max-width: initial;
 }

}