.media-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.error{
  color: red;
}

.add-media {
  margin: 10px;
}

.add-media input {
  min-width: 400px;
}

.add-media button {
  background: #a2a2a2;
  border: 2px solid #292F33;
  border-radius: 5px;
  padding: 2px 15px;
  cursor: pointer;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .media-container {
    flex-direction: column;
  }
  .add-media button {
    margin-top: 5px;
    width: 130px;
  }

  .add-media input {
    min-width: 95%;
  }
}