.add-media {
    margin: 10px 10px 40px;
}

.add-media input {
    min-width: 400px;
    margin: 0;
}

.add-media .error {
    color: red;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .add-media button {
        margin-top: 5px;
        width: 130px;
    }
    .add-media input {
        min-width: 95%;
    }
}